<% flash.each do |type, message| %>
  <div class="mb-4 alert <%= type == 'notice' ? 'alert--success' : 'alert--error' %>"
       data-controller="flash"
       data-flash-target="message">
    <%= message %>
  </div>
<% end %>
