<div class="card">
  <div class="pairing__images">
    <div class="pairing__image skeleton"></div>
    <div class="pairing__connector skeleton"></div>
    <div class="pairing__image skeleton"></div>
  </div>
  <div class="card__body">
    <div class="skeleton h-5 w-3/4 rounded"></div>
    <div class="flex gap-1">
      <% 5.times do %>
        <div class="skeleton rounded-full" style="width: 0.625rem; height: 0.625rem;"></div>
      <% end %>
    </div>
    <div class="skeleton h-3 w-full rounded"></div>
    <div class="skeleton h-3 w-2/3 rounded"></div>
  </div>
</div>
