
BASE_URL=pairings-api-development/BASE_URL
SIDEKIQ_PASSWORD=SIDEKIQ_PASSWORD
SIDEKIQ_REDIS_URL=SIDEKIQ_REDIS_URL
SIDEKIQ_USERNAME=SIDEKIQ_USERNAME
REDIS_URL=redis://localhost:6379/0
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=pairings_api_development
